spring.datasource.url=jdbc:mysql://localhost:3306/turisgo_db
spring.datasource.username=USUARIO_DESARROLLO
spring.datasource.password=CONTRASEÑA_DESARROLLO
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
server.port=8080 